* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

body {
  background-color: #FBF9F3;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffe8d6;
  color: #3f4238;
}

h3 {
  margin-right: 2rem;
  margin-left: 0.5rem;
  font-size: 17px;
}

p {
  font-size: 13px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

/* ~~~NAV~~ */
.username-login-container {
  display: flex;
  align-items: center;
  align-self: flex-end;
  margin-top: 1rem;
  margin-right: 2rem;
  color: #3f4238;;
}

.fa-sort-down {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.fa-smile {
  margin-right: 0.5rem;
}
.nav-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.nav-container {
  display:flex;
  align-self: flex-end;
  width: 100%;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.title-container{
  display: flex; 
  justify-self: flex-end;
  width: 70%;
  margin-bottom: 1rem;
}

.fa-seedling {
  margin-top: 2.2rem;
}

.page-title {
  font-family: 'DM Serif Display', serif;
  font-size: 45px;
  margin-top: 2rem;
  margin-left: 16rem;
}

.active {
  color: #b7b7a4;
}

.fa-chevron-down,
.fa-bars,
.fa-heart {
  color: #6b705c;
}

/* ~~~CARD SECTION~~~ */
.body-title {
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #3f4238;
  font-size: 28px;
}

.plant-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
}

.grid-container { 
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.fa-arrow-alt-circle-right {
  color: white;
  margin-left: 1rem;
  margin-top: 1rem;
}

.one {
  background-image: url('./assets/monstera.jpeg');
}

.two {
  background-image: url('./assets/fig.jpeg');
}

.three {
  background-image: url('./assets/prayer-plant.jpeg');
}

.four {
  background-image: url('./assets/calathea2.jpeg');
}

.five {
  background-image: url('./assets/calathea.jpeg');
}

.six {
  background-image: url('./assets/palm.jpeg');
}

.seven {
  background-image: url('./assets/adansonii.jpeg');
}

.eight {
  background-image: url('./assets/ficus.jpeg');
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  height: 20vh;
  width: 100%;
  background-size: cover;
  opacity: 90%;
  box-shadow: 2 2px 8px 0 rgb(0 0 0 / 15%);
}

.views-container {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  margin-top: 1rem;
}

.number {
  font-size: 37px;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  height: 38vh;
  width: 23vw;
  background-color: white;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%)
  ;
}

.card-title {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 20px;
  color: #3f4238;
}

.date {
  margin-top: 0.25rem;
  margin-left: 1rem;
  font-size: 14px;
  color: #3f4238;
}

.style-box {
  justify-self: center;
  padding: 0.75rem 0 0 0.75rem;
  margin-top: 1rem;
  margin-left: 0.75rem;
  width: 87%;
  height: 30px;
  background-color: #ffe8d6;
  color: #3f4238;
  font-size: 12px;
}

.sun-container,
.water-container {
  margin-left: 1rem;
  margin-top: 1.75rem;
  color: #3f4238;
}

@media screen and (max-width: 790px) {

  header {
    width: 100%;
    overflow-x: hidden;
    position: relative;
  }

  h1 {
    display: none;
  }

  .fa-seedling {
    margin-left: 23rem;
    margin-top: 4rem;
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }

  .nav-container {
    position: absolute;
    margin-top: 6rem;
    margin-bottom: 1rem;
    display: flex;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: unset;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
  }

  .plant-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 15px;
  }

  .card-bottom {
    width: 100%;
  }

  .username-login-container {
    position: absolute;
    margin-right: 1rem;
  }
}


  





